(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: Url("https://file%2B.vscode-resource.vscode-cdn.net/d%3A/computer_architecture/riscv/sim/wave.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb",
                "DUT",
                "uart",
            ],
            id: Wellen((18)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "data_tx_reg",
                    id: Wellen((233)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "data_tx_reg [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "baud_gen",
                        ],
                        id: Wellen((19)),
                    ),
                    name: "tx_cnt",
                    id: Wellen((253)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tx_cnt [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "baud_gen",
                        ],
                        id: Wellen((19)),
                    ),
                    name: "rx_baud_tick",
                    id: Wellen((246)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_baud_tick",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "uart_tx",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "current_state",
                    id: Wellen((262)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "current_state [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "uart_tx",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "tx_en",
                    id: Wellen((260)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tx_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "cpu_apb_bridge",
                        ],
                        id: Wellen((16)),
                    ),
                    name: "psel",
                    id: Wellen((185)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "psel",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "start_transmit",
                    id: Wellen((237)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "start_transmit",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "baud_gen",
                        ],
                        id: Wellen((19)),
                    ),
                    name: "i_baudrate_div",
                    id: Wellen((249)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "i_baudrate_div [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "rom",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "instr",
                    id: Wellen((166)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "instr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("RV32"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "baud_gen",
                        ],
                        id: Wellen((19)),
                    ),
                    name: "tx_baud_tick",
                    id: Wellen((245)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "tx_baud_tick",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "uart_rx",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "rx_en",
                    id: Wellen((270)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "uart_rx",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "o_data_valid",
                    id: Wellen((266)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_data_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "uart_tx",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "o_ready",
                    id: Wellen((255)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                        ],
                        id: Wellen((18)),
                    ),
                    name: "prdata",
                    id: Wellen((223)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "prdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "uart_tx",
                        ],
                        id: Wellen((20)),
                    ),
                    name: "o_tx",
                    id: Wellen((254)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "o_tx",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb",
                            "DUT",
                            "uart",
                            "baud_gen",
                        ],
                        id: Wellen((19)),
                    ),
                    name: "rx_cnt",
                    id: Wellen((252)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rx_cnt [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Signed"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
                unfolded_fields: [],
            )),
        },
        display_item_ref_counter: 16,
        viewports: [
            (
                curr_left: (-0.004279644715471287),
                curr_right: (0.032298514588958056),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            7270000,
        ])),
        markers: {},
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: Some((15)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(212.65625),
    ui_zoom_factor: None,
    animation_enabled: None,
    trace_style: None,
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    focus_highlight: None,
    show_annotation_list: false,
    enable_time_offset: None,
)